
{% include 'db/Header.html' %}

<!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Products</h1>
          <p class="mb-4">
              All product in this website
              </p>



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Count</th>
                              <th>publish Date</th>
                              <th>Expiry Date</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Name</th>
                              <th>Count</th>
                              <th>publish Date</th>
                              <th>Expiry Date</th>
                            </tr>
                          </tfoot>
                          <tbody>
                        {% if productList%}
                        {% for pro in productList %}

                            <tr>
                              <td><a href="/products/{{ pro.id }}">{{ pro.name }}</a></td>
                              <td>{{ pro.count }}</td>
                              <td>{{ pro.pub_date }}</td>
                              <td>{{ pro.expire_date }}</td>
                            </tr>

                        {% endfor %}
                  {% else %}
                        <p>No Products are available.</p>
                  {% endif %}
              </tbody>
                        </table>


              </div>
            </div>
          </div>

{% include 'db/Footer.html' %}