{% include 'db/Header.html' %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Selling</h6>
    </div>
    <div class="card-body">


        <form method="post" ACTION="/postSell/">
            {% csrf_token %}

            <div class="form-group">
                <label for="cars" class="col-2">Buyer:</label>

                <select name="buyer" id="buyer" class="form-control form-control-user" required>
                    {% for foo in users %}
                        <option value="{{ foo.id }}">{{ foo.username }}</option>
                    {% endfor %}
                </select>
            </div>

            <input hidden class="form-control" name="productID" value="{{ product.id }}">
            <input hidden class="form-control" name="state" value="{{ state }}">

            {% if state == 1 %}




                <div class="form-group">
                    Product Name
                    <input type="text" class="form-control form-control-user"  name="name" placeholder="Product Name">

                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="unite_type"
                           placeholder="unite type">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="Count" placeholder="Count">
                </div>


                <div class="form-group">
                    canning date
                    <input type="date" class="form-control form-control-user" name="canning_date"
                           placeholder="canning date">
                </div>

                <div class="form-group">
                    processing date
                    <input type="date" class="form-control form-control-user" name="processing_date"
                           placeholder="processing date">
                </div>
                <div class="form-group">
                    expire date
                    <input type="date" class="form-control form-control-user" name="expire_date"
                           placeholder="expire date">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="factory_temp"
                           placeholder="Factory temp">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="factory_humidity"
                           placeholder="Factory humidity">
                </div>
            {% endif %}




            {% if state == 2 %}


                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="unite_type"
                           placeholder="unite type">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="Count" placeholder="Count">
                </div>
                <div class="form-group">
                    entry store date
                    <input type="date" class="form-control form-control-user" name="entry_store_date"
                           placeholder="entry_store_date">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="destrbutor_temp"
                           placeholder="destrbutor temp">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="destrbutor_humidity"
                           placeholder="destrbutor humidity">
                </div>

            {% endif %}







            {% if state == 3 %}


                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="unite_type"
                           placeholder="unite type">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="Count" placeholder="Count">
                </div>

                <div class="form-group">
                    entry Market date
                    <input type="date" class="form-control form-control-user" name="entry_market_date"
                           placeholder="entry_market_date">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="market_temp"
                           placeholder="market temp">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control form-control-user" name="market_humidity"
                           placeholder="market humidity">
                </div>

            {% endif %}






            <div class="form-group">
                <textarea class="form-control" name="des" cols="30" rows="5" placeholder="Info"></textarea>

            </div>

            <input class="form-control btn btn-primary" type="submit" value="Submit">

        </form>


    </div>
</div>
{% include 'db/Footer.html' %}